CLIENT_ID='your_dev_twitch_client_id'
CLIENT_SECRET='your_dev_twitch_client_secret_generated'
PATHO='/home/yourUser/.var/app/com.heroicgameslauncher.hgl/config/heroic/store_cache/'
HEROIC_CONFIG='/home/yourUser/.var/app/com.heroicgameslauncher.hgl/config/heroic/store/config.json'
GOG_LIBRARY='gog_library.json'
AMAZON_LIBRARY='nile_library.json'
EPIC_LIBRARY='legendary_library.json'
METACRITIC_ENABLED=False
METACRITIC_REFRESH=False